<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Add Children Form</title>
</head>
<body>
  <h1>Agregar hijos:</h1>
  
  Padre :{{ person.padre.nombre }} {{person.padre.a_paterno}}, {{person.padre.a_materno}} <br>
  Madre :{{ person.madre.nombre }} {{person.madre.a_paterno}}, {{person.madre.a_materno}} <br>
  <br>
  Ingrese los nombres de los hijos separados por comas:<br>
  
  {% if form.errors %}
      <p style="color : red;">
        Please correct the error {{ form.errors|pluralize}} below.
      </p>
  {% endif %}
  
  <form action="" method="post">
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
